In [10]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [11]:
wikipedia_link='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
raw_wikipedia_page= requests.get(wikipedia_link).text

soup = BeautifulSoup(raw_wikipedia_page,'xml')

In [12]:
table = soup.find('table')

Postcode      = []
Borough       = []
Neighbourhood = []

for tr_cell in table.find_all('tr'):
    
    counter = 1
    Postcode_var      = -1
    Borough_var       = -1
    Neighbourhood_var = -1
    
    for td_cell in tr_cell.find_all('td'):
        if counter == 1: 
            Postcode_var = td_cell.text
        if counter == 2: 
            Borough_var = td_cell.text
            tag_a_Borough = td_cell.find('a')
            
        if counter == 3: 
            Neighbourhood_var = str(td_cell.text).strip()
            tag_a_Neighbourhood = td_cell.find('a')
            
        counter +=1
        
        if (Postcode_var == 'Not assigned' or Borough_var == 'Not assigned' or Neighbourhood_var == 'Not assigned'):
            
            continue
            
           
    try:
        if ((tag_a_Borough is None) or (tag_a_Neighbourhood is None)):
            
            continue
            
            
    except:
        
        pass
    
    if(Postcode_var == -1 or Borough_var == -1 or Neighbourhood_var == -1):
        
        continue
          
        
        
        
        
    Postcode.append(Postcode_var)
    Borough.append(Borough_var)
    Neighbourhood.append(Neighbourhood_var)

In [13]:
unique_p = set(Postcode)
print('num of unique Postal codes:', len(unique_p))
Postcode_u      = []
Borough_u       = []
Neighbourhood_u = []


for postcode_unique_element in unique_p:
    p_var = ''; b_var = ''; n_var = ''; 
    for postcode_idx, postcode_element in enumerate(Postcode):
        if postcode_unique_element == postcode_element:
            p_var = postcode_element;
            b_var = Borough[postcode_idx]
            if n_var == '': 
                n_var = Neighbourhood[postcode_idx]
            else:
                n_var = n_var + ', ' + Neighbourhood[postcode_idx]
    Postcode_u.append(p_var)
    Borough_u.append(b_var)
    Neighbourhood_u.append(n_var)

num of unique Postal codes: 78

In [14]:
toronto_dict = {'Postcode':Postcode_u, 'Borough':Borough_u, 'Neighbourhood':Neighbourhood_u}
df_toronto = pd.DataFrame.from_dict(toronto_dict)
df_toronto.to_csv('toronto_part1.csv')
df_toronto.head(14)

,Postcode,Borough,Neighbourhood
0,M5E,Downtown Toronto,Berczy Park
1,M9V,Etobicoke,"Beaumond Heights, Jamestown, Mount Olive, Silv..."
2,M3H,North York,"Bathurst Manor, Wilson Heights"
3,M8V,Etobicoke,New Toronto
4,M2L,North York,York Mills
5,M5C,Downtown Toronto,St. James Town
6,M6M,York,"Keelesdale, Mount Dennis, Silverthorn"
7,M4T,Central Toronto,Moore Park
8,M4C,East York,Woodbine Heights
9,M1J,Scarborough,Scarborough Village
10,M5T,Downtown Toronto,"Chinatown, Grange Park, Kensington Market"
11,M5K,Downtown Toronto,"Design Exchange, Toronto Dominion Centre"
12,M4N,Central Toronto,Lawrence Park
13,M4J,East York,East Toronto

In [15]:
df_toronto.shape

(78, 3)

In [22]:
import pandas as pd 
data2 = pd.read_csv("https://cocl.us/Geospatial_data") 
data2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [25]:
data2.rename(columns={'Postal Code': 'Postcode'}, inplace=True)
data2.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [19]:
df_toronto.head()

,Postcode,Borough,Neighbourhood
0,M5E,Downtown Toronto,Berczy Park
1,M9V,Etobicoke,"Beaumond Heights, Jamestown, Mount Olive, Silv..."
2,M3H,North York,"Bathurst Manor, Wilson Heights"
3,M8V,Etobicoke,New Toronto
4,M2L,North York,York Mills

In [34]:
data1 = pd.merge(df_toronto, data2, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

data1.head(11)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
5,M1K,Scarborough,"Ionview, Kennedy Park",43.727929,-79.262029
6,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
7,M1M,Scarborough,"Cliffcrest, Cliffside",43.716316,-79.239476
8,M1N,Scarborough,Birch Cliff,43.692657,-79.264848
9,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
10,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849